@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * fonts
 */
@font-face {
  font-family: "RedHatText";
  src: url("./font/RedHatTextVF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "RedHatText";
  src: url("./font/RedHatTextVF-Italic.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Caveat";
  src: url("./font/Caveat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: fallback;
}

/**
 * base layer
 */
@layer base {
  html {
    @apply font-sans;
  }

  a:hover {
    @apply underline;
  }

  .font-caveat {
    font-family: "Caveat", cursive;
  }
}

/*
 * utilities Layer
 */
@layer utilities {
  .dbg-1 {
    @apply border-4 border-amber-700;
  }

  .dbg-2 {
    @apply border-4 border-green-700;
  }

  .dbg-3 {
    @apply border-4 border-pink-600;
  }
}
